
@{
    ViewBag.Title = "CambiarContrasena";
}

<style>
    .form{
        margin-left: 10px;
        padding:20px 10px;
        border: 1px solid blue;
        width: 400px;
        height: 130px;
        border-radius: 5px;
    }
</style>

<h2 class="titulo">Cambiar Contraseña</h2>

<br />

<div class="form">
    <label class="label" style="width:130px;">Nueva Contraseña</label>
    <input type="password" autocomplete="off" />
    <br />
    <label class="label" style="width:130px;">Repetir Contraseña</label>
    <input type="password" autocomplete="off" />

    <br class="clearfix" />
    <br />
    <button class="button" style="text-align:center; display:inline-block"><i class="button-icon icon-nuevo"></i>Grabar</button>

</div>

