
@{
    ViewBag.Title = "Facturas";
}

<style>

</style>

<h2 class="titulo">Facturas</h2>

<div class="panel-button">
    <button id="btnBuscar" class="button"><i class="button-icon icon-buscar"></i>Buscar</button>
    <button id="btnLimpiar" class="button"><i class="button-icon icon-limpiar"></i>Limpiar</button>
    <button id="btnNuevo" class="button"><i class="button-icon icon-nuevo"></i>Nuevo</button>
    <button class="button"><i class="button-icon icon-editar"></i>Editar</button>
    <button class="button"><i class="button-icon icon-cancelar"></i>Anular</button>
    <button class="button"><i class="button-icon icon-exportar"></i>Exportar</button>
    <button class="button"><i class="button-icon icon-imprimir"></i>Imprimir Factura</button>
</div>

@ViewBag.Message3
@ViewBag.Message2
@ViewBag.Message

<div id="panelfiltros" class="panel-filtros">
    <div class="columna">
        <div><label class="label" for="txtNumero">Nro. Factura: </label><input id="txtNumero" type="text" /></div>
        @*<div><label class="label" for="ddlCliente">Cliente: </label><select id="ddlCliente"></select></div>*@
        <div><label class="label" for="txtCliente">Cliente: </label><input type="text" id="txtCliente" /><input type="hidden" id="txtIdCliente" /></div>
    </div>
    <div class="columna">
        <div><label class="label" style="width:48px; min-width:48px;" for="ddlMes">Mes: </label><select id="ddlMes" style="width:120px"></select> : <select id="ddlAno" style="width:90px"></select></div>
        <div><label class="label" for="ddlConcepto">Concepto: </label><select id="ddlConcepto"></select></div>
    </div>
    <div class="columna">
        <div><label class="label" for="txtNroOIP">Nro. OIP: </label><input id="txtNroOIP" /></div>
        <div><label class="label" for="ddlEstado">Estado: </label><select id="ddlEstado"></select></div>
    </div>
</div>

<div id="gridFacturas" style="margin: 1px auto; margin-bottom:8px">

</div>



@section scripts{

    <script type="text/javascript">


        function Buscar() {
            if ($('#txtCliente').val() == "") {
                $('#txtCliente').val("");
            }

            gridFacturas.SetPage(1);
            gridFacturas.Reload();
        }

        $("#panelfiltros").on("keydown", function (e) {

            if (e.keyCode == 13)
                Buscar();

        });

        $("#btnBuscar").on("click", function () {

            Buscar();
        });

        $("#btnNuevo").on("click", function () {

            location.href = "/Factura/NuevaFactura";
        });

        $("#btnLimpiar").on("click", function () {

            $('#txtNumero').val("");
            $('#ddlConcepto').val("");
            $('#txtCliente').val("");
            $('#txtIdCliente').val("");
            $('#ddlEstado').val("");
            $('#ddlMes').val("");
            $('#ddlAno').val("");


            gridFacturas.Reload();
        });

    </script>

    <script type="text/javascript">

        $(document).ready(function () {
        });

        var Ext = $.fn.Ext();

        //var modal = $.fn.jsWindow("modal", {
        //    url: "/Prestamo/ModalPopup",
        //    title: "Prestamos",
        //    modal: true,
        //    width: "700px",
        //    height: "500px"
        //});

        var ddlConcepto = $.fn.jsComboBox("ddlConcepto", {
            //url: "http://localhost:54375/api/factura/ListarConceptos",
            url: "/Combo/ListarConceptos",
            //width: "200px",
            initialItem: { text: "SELECCIONE", value: "" },
            selectedValue: "ConceptoId",
            selectedText: "Nombre",
            cssClass: "combo",
            error: function (j, t, e) {
                if (j.status == 404)
                    console.log("Url no encontrada!");
                else {
                    console.log(j);
                    console.log(t);
                    console.log(e);
                    console.log("Fallo la conexión!");
                }
            }
        });

        var ddlEstado = $.fn.jsComboBox("ddlEstado", {
            url: "http://localhost:54375/api/factura/ListarEstados",
            //width: "200px",
            initialItem: { text: "SELECCIONE", value: "" },
            selectedValue: "EstadoFacturaId",
            selectedText: "Nombre",
            cssClass: "combo"
        });

        $('#txtCliente').autocomplete({
            type: "POST",
            minLength: 1,
            source: function (request, response) {

                $.ajax({
                    url: "http://localhost:54375/api/factura/ListarClientes",
                    dataType: "json",
                    data: request,
                    success: function (data) {
                        response(data);
                    },
                    error: function (a, b, c) {
                    }
                });
            },
            select: function (event, ui) {

                console.log(ui.item);

                $('#txtCliente').val(ui.item.label);
                $('#txtIdCliente').val(ui.item.value);

                event.stopPropagation();

                return false;
            }
        });


        var ddlCliente = $.fn.jsComboBox("ddlCliente", {
            url: "http://localhost:54375/api/factura/ListarClientes",
            //width: "200px",
            initialItem: { text: "SELECCIONE", value: "" },
            selectedValue: "ClienteId",
            selectedText: "RazonSocial",
            cssClass: "combo"
        });

        var ddlMes = $.fn.jsComboBox("ddlMes", {
            url: "/Combo/ListarMeses",
            //width: "200px",
            initialItem: { text: "SELECCIONE", value: "" },
            selectedValue: "Id",
            selectedText: "Value",
            cssClass: "combo"
        });

        var ddlAno = $.fn.jsComboBox("ddlAno", {
            url: "/Combo/ListarAnhos",
            //width: "200px",
            initialItem: { text: "SELECCIONE", value: "" },
            selectedValue: "Id",
            selectedText: "Value",
            cssClass: "combo"
        });

        var gridFacturas = $.fn.JsGrid("gridFacturas", {
            //url: "http://localhost:54375/api/factura/ListarPagedFacturas",
            url: "/factura/ListarPagedFacturas",
            width: "950px",
            height: "400px",
            paging: true,
            sorting: true,
            pagingOptions: {
                server: true,
                pageSize: 100,
                pagingMsg: "Mostrando {0} - {1} de {2}",
            },
            //rowSelectedClass: "rowselectedclass",
            //cellSelectedClass: "cellselectedclass",
            headerClass: "gridheaderclass",
            //rowClass: "gridrowclass",
            //alternatingrowClass: "gridalternatingrowclass",
            params: [
                { name: "Numero", value: "$('#txtNumero').val();" },
                { name: "ConceptoId", value: "$('#ddlConcepto').val();" },
                { name: "ClienteId", value: "$('#txtIdCliente').val();" },
                { name: "EstadoId", value: "$('#ddlEstado').val();" },
                { name: "Mes", value: "$('#ddlMes').val();" },
                { name: "Ano", value: "$('#ddlAno').val();" }

            ],
            columnModel: [
                { text: "Número", dataIndex: "Numero", dataType: "string", sortCommand: "Numero", textAlign: "center", width: "100px" },
                { text: "Concepto", dataIndex: "Concepto", dataType: "string", sortCommand: "CodigoArticulo", textAlign: "center", typeEditCtrl: "textbox", width: "150px" },
                { text: "Cliente", dataIndex: "Cliente", dataType: "string", sortCommand: "Cliente", width: "250px" },
                { text: "Fecha Emisión", dataIndex: "FechaEmision", dataType: "date", sortCommand: "FechaEmision", typeEditCtrl: "textbox", width: "100px" },
                { text: "Tipo Moneda", dataIndex: "TipoMoneda", dataType: "string", typeEditCtrl: "datepicker", width: "80px" },
                { text: "Monto Total", dataIndex: "MontoTotal", dataType: "decimal", sortCommand: "MontoTotal", width: "100px" },
                { text: "Estado", dataIndex: "Estado", dataType: "string", sortCommand: "FechaEntrega", width: "120px" },
                { text: "Fecha Registro", dataIndex: "FechaRegistro", dataType: "date", width: "100px" }
            ],
            selectionColumn: {
                type: 'checkbox',
                multiple: true
            },
            selectionModel: {
                type: "cell"
            },
            editTrigger: "dblclick",
            cellCreated: function (row, col, value, ele) {
                var newele = ele;

                if (col == 0)
                    newele = $(ele).css("background-color", "#ff0000").get(0).outerHTML;

                if (col == 2)
                    newele = $(ele).css("background-color", "#ffff00").get(0).outerHTML;


                return newele;
            },
            rowSelect: function (index, row) {
                if (typeof (OnRowSelect) == "function") {

                    OnRowSelect(index, row);
                }
            }
        });

        Ext.RegisterCmp("gridFacturas", gridFacturas);

        gridFacturas.Reload();

    </script>
}