
@{
    ViewBag.Title = "Nueva Factura";
}

<h2 class="titulo">Nueva Factura</h2>

<div class="panel-button">
    <button id="btnGrabar" class="button"><i class="button-icon icon-guardar"></i>Grabar</button>
    <button id="btnCancelar" class="button"><i class="button-icon icon-cancelar"></i>Cancelar</button>
</div>

<div id="panelfiltros" class="panel-filtros">
    <div class="columna">
        <div><label class="label" for="txtNroFactura">Nro. Factura: </label><input id="txtNroFactura" type="text" /></div>
        <div><label class="label" for="txtCliente">Cliente: </label><input type="text" id="txtCliente" /><input type="hidden" id="txtIdCliente" /></div>
    </div>
    <div class="columna">
        <div><label class="label" style="width:100px" for="txtFechaEmision">Fecha Emisión: </label><input id="txtFechaEmision" style="width:160px" type="text"/></div>
        <div><label class="label" style="width:100px" for="ddlConcepto">Concepto: </label><select id="ddlConcepto"></select></div>
    </div>
    <div class="columna">
        <div><label class="label" for="txtFechaMemo">Fecha Memo: </label><input id="txtFechaMemo" style="width:160px" type="text"/></div>
        <div><label class="label" style="width:100px; margin-right:0px" for="ddlEstado">Incluye IGV?: </label><input type="checkbox" style="width:20px; margin-right:10px"/> IGV: <input id="txtIGV" style="width:50px"/></div>
    </div>
</div>

<div class="panel-button" style="width:97.2%; margin: 1px auto">
    <button id="btnAgregar" class="button"><i class="button-icon icon-agregar"></i>Agregar</button>
    <button id="btnEliminar" class="button"><i class="button-icon icon-eliminar"></i>Eliminar</button>
</div>

<div id="gridOIPs" style="margin: 1px auto; margin-bottom:8px">


</div>

<div id="panel" class="panel-filtros">
    <div class="columna" style="width:auto; margin-right:50px; padding-right:20px">
        <div><label class="label" for="txtNumero">Observaciones: </label>
        <textarea rows="10" cols="20" style="width:450px; height:100px" spellcheck="false"></textarea></div>
    </div>

    <div class="columna">
        <div><label class="label" for="ddlTipoMoneda">Moneda: </label><select id="ddlTipoMoneda"></select></div>
        <div><label class="label" for="txtNroOIP">Monto OIP: </label><input id="txtNroOIP" style="text-align:right" /></div>
        <div><label class="label" for="ddlEstado">Monto IGV: </label><input id="txtNroOIP" style="text-align:right" /></div>
        <div><label class="label" for="ddlEstado">Monto Total: </label><input id="txtNroOIP" style="text-align:right" /></div>

    </div>
</div>



@section scripts{


    <script type="text/javascript">

        var Ext = $.fn.Ext();

        $("#btnCancelar").on("click", function () {

            location.href = "/Factura/Index";
        });

        $("#btnAgregar").on("click", function () {

            var gridBusquedaOIPs = Ext.GetCmp("gridBusquedaOIPs");
            gridBusquedaOIPs.Reload();

            BusquedaOIPs.Show();            
        });
    </script>

    <script type="text/javascript">


        $('#txtCliente').autocomplete({
            type: "POST",
            minLength: 1,
            source: function (request, response) {

                $.ajax({
                    url: "http://localhost:54375/api/factura/ListarClientes",
                    dataType: "json",
                    data: request,
                    success: function (data) {
                        response(data);
                    },
                    error: function (a, b, c) {
                    }
                });
            },
            select: function (event, ui) {

                $('#txtCliente').val(ui.item.label);
                $('#txtIdCliente').val(ui.item.value);

                event.stopPropagation();

                return false;
            }
        });

        $.fn.jsComboBox("ddlConcepto", {
            url: "/Combo/ListarConceptos",
            //width: "200px",
            initialItem: { text: "SELECCIONE", value: "" },
            selectedValue: "ConceptoId",
            selectedText: "Nombre",
            cssClass: "combo",
            error: function (j, t, e) {
                if (j.status == 404)
                    console.log("Url no encontrada!");
                else {
                    console.log(j);
                    console.log(t);
                    console.log(e);
                    console.log("Fallo la conexión!");
                }
            }
        });

        $("#txtFechaEmision").datepicker({
            showOn: "button",
            buttonImage: "/images/calendar.png",
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        });

        $("#txtFechaMemo").datepicker({
            showOn: "button",
            buttonImage: "/images/calendar.png",
            buttonImageOnly: true,
            dateFormat: 'dd/mm/yy'
        });

        $.fn.jsComboBox("ddlTipoMoneda", {
            url: "/Combo/ListarTiposMonedas",
            //width: "200px",
            initialItem: { text: "SELECCIONE", value: "" },
            selectedValue: "Id",
            selectedText: "Texto",
            cssClass: "combo",
            error: function (j) {                
            }
        });


        var gridOIPs = $.fn.JsGrid("gridOIPs", {
            //url: "http://localhost:54375/api/factura/ListarPagedFacturas",
            url: "/factura/ListarPagedFacturas",
            width: "950px",
            height: "240px",
            paging: false,
            sorting: true,
            pagingOptions: {
                server: true,
                pageSize: 100,
                pagingMsg: "Mostrando {0} - {1} de {2}",
            },
            headerClass: "gridheaderclass",
            params: [
                { name: "Numero", value: "$('#txtNumero').val();" },
                { name: "ConceptoId", value: "$('#ddlConcepto').val();" },
                { name: "ClienteId", value: "$('#txtCliente').val();" },
                { name: "EstadoId", value: "$('#ddlEstado').val();" },
                { name: "Mes", value: "$('#ddlMes').val();" },
                { name: "Ano", value: "$('#ddlAno').val();" }

            ],
            columnModel: [
                { text: "OIP", dataIndex: "Numero", dataType: "string", sortCommand: "Numero", textAlign: "center", width: "50px" },
                { text: "Revisión", dataIndex: "Concepto", dataType: "string", sortCommand: "CodigoArticulo", textAlign: "center", typeEditCtrl: "textbox", width: "70px" },
                { text: "Año", dataIndex: "Cliente", dataType: "string", sortCommand: "Cliente", width: "50px" },
                { text: "Mes", dataIndex: "FechaEmision", dataType: "date", sortCommand: "FechaEmision", typeEditCtrl: "textbox", width: "80px" },
                { text: "Moneda", dataIndex: "TipoMoneda", dataType: "string", typeEditCtrl: "datepicker", width: "70px" },
                { text: "Monto Neto", dataIndex: "MontoTotal", dataType: "decimal", sortCommand: "MontoTotal", textAlign:"right",  width: "90px" },
                { text: "Programa", dataIndex: "Estado", dataType: "string", sortCommand: "FechaEntrega", width: "200px" },
                { text: "Producto", dataIndex: "Estado", dataType: "string", sortCommand: "FechaEntrega", width: "200px" },
                { text: "Motivo", dataIndex: "Estado", dataType: "string", sortCommand: "FechaEntrega", width: "200px" }
            ],
            selectionColumn: {
                type: 'checkbox',
                multiple: true
            },
            selectionModel: {
                type: "cell"
            }
        });

        var BusquedaOIPs= $.fn.jsWindow("BusquedaOIPs", {
            url: "/Factura/BusquedaOIPs",
            title: "Búsqueda de OIPs",
            width: "870px",
            height: "550px",
            modal: true
        });

        Ext.RegisterCmp("BusquedaOIPs", BusquedaOIPs);
    </script>

}